.some-element
    .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ipsum nostrum dolor recusandae rem. Cupiditate accusantium corporis blanditiis deleniti porro aut impedit sequi, vel sed, ratione quaerat amet quos dolor!

//-.some-element.some-element2
    .content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate ipsum nostrum dolor recusandae rem. Cupiditate accusantium corporis blanditiis deleniti porro aut impedit sequi, vel sed, ratione quaerat amet quos dolor!
style.
    .some-element {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 400px;
        height: 200px;
    }
    .some-element .content {
        padding: 1em;
    }
script.
    $(function(){
        $('.some-element').resizbl();
    });