meta(charset='utf-8')
meta(content='IE=edge', http-equiv='X-UA-Compatible')
meta(content='width=100vw, initial-scale=1, maximum-scale=2', name='viewport')
title
//-meta(content='', name='yandex-verification')
//-meta(content='', name='google-site-verification'>
//-meta(content='', name='description')
//-meta(content='', name='keywords')
//-meta(content='', name='author')
//-meta(content='', name='apple-mobile-web-app-title')

meta(content='no', name='msapplication-tap-highlight')
//-meta(content='', name='application-name')
//-meta(content='', name='msapplication-tooltip')
//-meta(content='/', name='msapplication-starturl')
//-meta(content='#FF3300', name='msapplication-navbutton-color')
//-meta(content='#2d89ef', name='msapplication-TileColor')
//-meta(content='/mstile-144x144.png', name='msapplication-TileImage')
//-meta(content='name=Пункт 1;action-uri=/;icon-uri=//*.ico', name="msapplication-task")
//-meta(content='name=Пункт 2;action-uri=/;icon-uri=//*.ico', name="msapplication-task")
//-meta(content='name=Пункт 3;action-uri=/;icon-uri=//*.ico', name="msapplication-task")

//-meta(name='google', value='notranslate')

//-base(href='/', target='_blank')

//-link(rel='alternate', type='application/rss+xml', title='RSS', href='news.rdf')

//-link(rel='shortcut icon', href='http://_/favicon.ico')
//-link(rel='apple-touch-icon', href='touch-icon-iphone.png')
//-link(rel='apple-touch-icon', sizes='76x76', href='touch-icon-ipad.png')
//-link(rel='apple-touch-icon', sizes='120x120', href='touch-icon-iphone-retina.png')
//-link(rel='apple-touch-icon', sizes='152x152', href='touch-icon-ipad-retina.png')

link(rel='stylesheet', media='all', href='css/main.css')
//-link(rel='stylesheet', media='print', href='')

script(src='js/app.min.js')